body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    
}
.sellprod {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


h4 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-top: 100px;
}

form {
    text-align: center;
    
}
input[type="text"], input[type="file"], input[type="submit"], textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]::placeholder,
textarea::placeholder {
    color: #999;
}
button[type="submit"] {
    background-color: #0c7360;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button[type="submit"]:hover {
    background-color: #5b5e61;
}
@media (max-width: 600px) {
    .sellprod {
        margin: 10px;
        padding: 10px;
    }

    input[type="text"], input[type="file"], input[type="submit"], textarea {
        width: 100%;
    }
}
